<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
      </ion-button>
    <ion-title>mostrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h1>{{user}}</h1>
<ion-card>
  <img alt="uber" src="assets/img/uber.jpg" />
  <ion-card-header>
    <ion-card-title> </ion-card-title>
    <ion-card-subtitle>¿Donde vamos?</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Recuerda seleccionar el metodo de pago.
  </ion-card-content>
</ion-card>
</ion-content>
